# =============== #
# Папки Unity #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Logs/
.vs/
UserSettings/
Assets/AssetStoreTools*

# ===================================== #
# Генерированные файлы засорения #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# Генерированные OS #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db